body {
  font-family: "Titillium Web", sans-serif;
  .fondo {
    height: auto;
    background-image: url("../Fotos/Fiestas1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.esconder {
  display: none;
}

.imagen {
  justify-content: center;
  &:hover {
    animation: shakeX;
    animation-duration: 1s;
  }
  img {
    min-width: 10rem;
    max-width: 12rem;
    max-height: 8rem;
  }
}
.blockquote {
  z-index: 1;
}

.enlaces {
  font-size: 0.8rem;
  font-weight: 900;
}

.HomeComentario {
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
  background-image: url("../Fotos/Candela\ -\ Campo\ Flores\ Amarillas.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
  min-height: 10rem;
}
.retratos {
  background-image: url("../Fotos/Candela\ fllores\ rojas\ original.JPG");
}
.bodas {
  background-image: url("../Fotos/Boda3.jpg");
}
.productos {
  background-image: url("../Fotos/Logo.jpg");
}
.familia {
  background-image: url("../Fotos/Fiestas1.jpg");
}
.link {
  text-decoration: none;
  color: black;
  min-width: 80vw;
  max-width: 100%;
  min-height: 12rem;
  margin-top: 2vh;
}

.fotos {
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 80vw;
  max-width: 100%;
  margin-bottom: 0;
  background-position: center;

  &:hover {
    animation: pulse;
    animation-duration: 1s;
    .hidden {
      display: block;
    }
  }
  .hidden {
    color: black;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.7;
    display: none;
  }
}
.colaboradores {
  background-image: url("../Fotos/Embaraç6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 3rem;
  min-height: 10rem;
  width: 100%;
  span {
    font-weight: bold;
    font-size: 1.2rem;
  }
}
.link1 {
  color: black;
  text-decoration: none;
  min-height: 18rem;
  margin-top: 6vh;
  border-radius: 50%;
  /* border: 1px solid black; */
  .peluqueria {
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("../Fotos/Imagen-peluqueria.png");
    opacity: 0.7;
    .hidden {
      border-radius: 50%;
    }
  }
  .decoración {
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("../Fotos/decoracion1.png");
    opacity: 0.7;
    .hidden {
      border-radius: 50%;
    }
  }
  .moda {
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("../Fotos/moda.png");
    opacity: 0.7;
    .hidden {
      border-radius: 50%;
    }
  }
  .transporte {
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("../Fotos/transporte1.png");
    opacity: 0.7;
    .hidden {
      border-radius: 50%;
    }
  }
}
.titulo {
  color: #36a0ff;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36a0ff;
}
h6 a {
  text-decoration: none;
}

/* medida md */
@media (min-width: 768px) and (max-width: 991px) {
  .imagen img {
    min-width: 20rem;
    min-height: 15rem;
  }
  .enlaces {
    font-size: 0.7rem;
    font-weight: 900;
  }
}

/* Desde md para arriba
 */
@media (min-width: 768px) {
  .esconde {
    visibility: hidden;
  }

  .HomeComentario {
    font-size: 1.2rem;
    min-height: 15rem;
  }
  .fotos {
    min-width: 20rem;
    max-width: 25rem;
  }
  .link {
    min-width: 15rem;
    min-height: 20rem;
    margin-top: 6vh;
  }
}
/* media desde lg */
@media (min-width: 991px) {
  .fotos {
    min-width: 25rem;
    max-width: 35rem;
  }
}
/* medida xl */
@media (min-width: 1200px) {
  .fotos {
    min-width: 35rem;
  }
}

//JqueryValidator

.usuarioValidacion input[type="email"].error-class,
.usuarioValidacion input[type="password"].error-class {
  border: 2px solid red;
  color: red;
  margin-bottom: 5px;
}

.usuarioValidacion input.valid-class {
  border: 2px solid grey;
  color: black;
}

.usuarioValidacion label.error-class {
  color: red;
}
